.home-page {
    .text-zone {
        position: absolute;
        left: 17%;
        top: 50%;
        transform: translateY(-50%);
        width: 40%;
        max-height: 90%;
    }


    h1 {
        color: #f96d00;
        font-size: 40px;
        margin: 0;
        font-family: 'Coolvetica';
        font-weight: 400;

        img {
            width: 150px;
            -webkit-filter: grayscale(1) invert(1);
            filter: grayscale(1) invert(1);

            animation: rotadeIn 1s linear both;
            animation-delay: 1.4s;

        }

        span{
            font-size: 40px;
            color: #ededed;
            position: absolute; 
            top: 45%;
        }
    }

    h2 {
        color: #ededed;
        font-size: 15px;
        font-weight: 400;
        font-family: sans-serif;
        letter-spacing: 2px;
        margin-top: 10px;
        font-weight: 400;
        animation: fadeIn 1s 1.8s backwards;
    }
}

.flat-button {
    color: #ededed;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 4px;
    font-family: sans-serif;
    text-decoration: none;
    padding: 10px 18px;
    border: 1px solid #ededed;
    margin-top: 25px;
    float: left;
    animation: fadeIn 1s 1.8s backwards;
    white-space: nowrap;

    &:hover {
        background: #f96d00;
        color: #ededed;
    }

}
.flat-button2{
    color: #f96d00;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 4px;
    font-family: sans-serif;
    text-decoration: none;
    padding: 10px 18px;
    border: 1px solid #f96d00;
    margin-top: 25px;
    margin-left: 10px;
    float: none;
    animation: fadeIn 1s 1.8s backwards;
    white-space: nowrap;

    &:hover {
        background: #ededed;
        color: #f96d00;
    }

}